.row{
    max-width: $grid-width;
    margin: 0 auto; // This center an element on a block 
    &:not(:last-child) { // We select, everything but the last child
        margin-bottom: $gutter-vertical;

        @include respond(tab-port){
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include clearfix;

    @include respond(tab-port){
        max-width: 50%;
        padding: 0 3rem;
    }

// The [] selector, allows to select based on an attribute.
// This '^=' means 'that begins with' in this case, every class that begins with 'col-'
// This '*=' means 'everything that contains'
// This '$=' means 'that ends with'
    [class^="col-"]{ 
        float: left;

        &:not(:last-child){
            margin-right: $gutter-horizontal;

            @include respond(tab-port){
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port){
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        width: singleColumnWidth(2);
    }

    .col-1-of-3 {
        width: singleColumnWidth(3);
    }

    .col-2-of-3 {
        width: multipleColumnOfWidth(2, 3);
    }

    .col-1-of-4 {
        width: singleColumnWidth(4);
    }

    .col-2-of-4 {
        width: multipleColumnOfWidth(2, 4);
    }

    .col-3-of-4 {
        width: multipleColumnOfWidth(3, 4);
    }
}