%btn-placeholder {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: all .2s;
}

.btn{
    &:link, &:visited {
        @extend %btn-placeholder;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
    }
    
    &:hover {
        transform: translateY(-5%);
        box-shadow: 0 1.5rem 2.5rem rgba($color-black, 0.4);
        &::after{
            transform: scaleX(1.4) scaleY(1.6); 
            opacity: 0;
        }
    }

    &:active {
        box-shadow: 0 .8rem 1rem rgba($color-black, 0.6);
        transform: translateY(0);
    }

    &::after {
        content: "";
        display: inline-block; 
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        z-index: -1;
        position: absolute; 
        top: 0;
        left: 0;
        transition: all .4s;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }

    &--animated{
        animation: fadeInBottom 1.45s ease-out 1.5s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link, &:visited {
        @extend %btn-placeholder;
        color: $color-primary;
        border-bottom: 0.2rem solid $color-primary;
        padding: 0.3rem;
    }

    &:hover{
        transform: translateY(-15%);
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.6);
    }

    &:active{
        box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
        transform: translateY(0);
    }
}