@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-25%);
    }

    40%{
        opacity: 0.4;
        transform: rotate(180deg);
    }

    80%{
        opacity: 0.8;
        transform: translateX(2%);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(25%);
    }

    40%{
        opacity: 0.4;
        transform: scaleY(-1) rotate(180deg);
    }

    80%{
        opacity: 0.8;
        transform: translateX(-2%);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInBottom {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    80%{
        opacity: 0.8;
        transform: translateY(-8%);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes appearence {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}

@keyframes desappear {
    0%{
        opacity: 1;
    }
    25%{
        opacity: .75;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .25;
    }
    100%{
        opacity: 0;
    }
}

@keyframes appearRotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}