.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    background-size: cover; 
    background-position: top;
    -webkit-clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    transition: all 1.5s;
    animation: appearence 2s ease-out;
    animation-fill-mode: backwards;
    
    &__logo_box{
        position: absolute;
        top: 3rem;
        left: 3rem;
    }

    &__logo{
        height: 4.5rem;
        margin: 2.8rem;
        -webkit-animation: rotate 5s normal linear infinite;
        transition: all 1.5s;
        animation: appearence 3.15s ease-out 1.5s, appearRotation 1.5s ease-out 1.15s;
        animation-fill-mode: backwards;
    }

    &__text-box {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}